<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GiddyUp Notification</title>
  </head>
  <body>
    <h2>Greetings {{ username }},</h2>
    <h3>Your account has been successfully delete.</h3>
    <h3>This will be the last correspondence you receive from us. <b>Godspeed.</b></h3>
    <h3>Virtually yours,</h3>
    <h3>~Team GiddyUp</h3>
  </body>
</html>