<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GiddyUp Notification</title>
  </head>
  <body>
    <h2>Greetings {{ username }},</h2>
    <h3>Your profile has been successfully updated.</h3>
    <h3>If you did not request this reset please contact support at: <b>{{ admin_email }}.</b></h3>
    <h3>Virtually yours,</h3>
    <h3>~Team GiddyUp</h3>
  </body>
</html>