<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to GiddyUp</title>
  </head>
  <body>
    <h2>Greetings {{ username }},</h2>
    <h3>Welcome to <b>GiddyUp</b> you <i>legendary legend</i>. We appreciate you taking the time to signup for our service and we're excited to have you onboard.</h3>
    <h3>We're still in a very early experimental beta stage, so please bear with us as we make changes and add new features to the platform.</h3>
    <h3>In the meantime, if you need to get in touch or have any questions - feel free to shoot us an email here: <b>{{ admin_email }}</b></h3>
    <h3>Virtually yours,</h3>
    <h3>~Team GiddyUp</h3>
  </body>
</html>